:root {
    --pur: rgb(119, 117, 190);
    --yel: rgb(255, 253, 141);
    --pin: rgb(255, 218, 239);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Anaheim", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--pin);
}

/* Navbar */
.logo2 {
    width: 50px;
}


.navbar{
    padding: 0;
}

.nav-link {
    font-size: 20px;
    font-weight: 500;
    border: 3px solid transparent;
}

#customNavbar {
    background-color: var(--pur);
    padding: 10px;
}

.nav-link:hover {
    border-bottom: 3px solid var(--yel);
}

/* Hero Section */
.hero-section {
    background-image: linear-gradient(to bottom,var(--pur), rgba(0, 0, 0, 0) 30% 60% , var(--pin)), url('./media/Hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin-top: 73px;
}

.hero-title{
    font-size: 100px;
    position: relative;
    top: -70px;
}

@media screen and (max-width: 560px) {
    .hero-title{
        font-size: 70px;
    }
}

/* Info Section */
.info-cards {
    background-color: var(--pur);
    color: white;
    padding: 50px 0;
    border-radius: 30px;
    padding: 20px;
    position: relative;
    top: -200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: all 0.4s;
}

.info-cards:hover {
    transform: translateY(-30px);
}

.info-section{
    background-color: var(--pin);
}

/* Number section */
.custom-img{
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    height: 700px;
}

.swiper {
    width: 500px;
    height: 320px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    width: 1000px;
    font-weight: bold;
    color: #fff;
}

.swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
}