h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Anaheim", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.logo2 {
    width: 50px;
}

.hero-section {
    background-image: url('./media/Hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}