:root {
    --pur: rgb(119, 117, 190);
    --yel: rgb(249, 213, 65);
    --pin: rgb(255, 218, 239);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Anaheim", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--pin);
}

/* Navbar */
.logo2 {
    width: 50px;
}


.navbar{
    padding: 0;
}

.nav-link {
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    border: 3px solid transparent;
}

#customNavbar {
    background-color: var(--pur);
    padding: 10px;
}

.nav-link:hover {
    border-bottom: 3px solid var(--yel);
}

/* Hero Section */
.hero-section {
    background-image: linear-gradient(to bottom,var(--pur), rgba(0, 0, 0, 0) 30% 60% , var(--pin)), url('./media/Hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    border-top: 73px solid var(--pur);
}

.hero-title{
    font-size: 100px;
    position: relative;
    top: -50px;
}

/* Info Section */
.info-cards {
    background-color: var(--pur);
    color: white;
    padding: 50px 0;
    border-radius: 30px;
    padding: 20px;
    position: relative;
    top: -130px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: all 0.4s;
}

.info-cards:hover {
    transform: scale(1.15);
}

.info-section{
    background-color: var(--pin);
}

/* Number section */
.custom-img{
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    height: 700px;
}

/* reviews section */
.swiper {
    width: 500px;
    height: 300px;
}

.swiperBtn{
    color: var(--pur);
    transition: 0.3s;
}

.swiperBtn:hover {
    transform: scale(1.3);
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    width: 100px;
    font-weight: bold;
    color: black;
    background-color: var(--yel);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: 3px solid var(--pur);
}

.star{
    color: var(--pur);
}

/* footer */
.footer{
    background-color: gray;
    height: 50px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Pagina annunci */

/* accordion */
.accordion-button, .accordion-item{
    background-color: var(--pur);
    color: white;
}

.accordion-item{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.accordion-button:not(.collapsed){
    background-color: var(--pur);
    box-shadow: none;
}

.accordion-button:focus{
    box-shadow: none;
}

.sticky{
    position: sticky;
    top: 100px;
}

.filterBtn{
    background-color: var(--pur);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 2px solid var(--yel);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#filter{
    height: 0px;
    position: relative;
    top: -100px;
}

#wordInput{
    width: 180px;
    border-radius: 20px;
    border: 2px solid var(--pin);
}



/* cards */
.card{
    background-color: var(--yel);
    border: 2px solid var(--pur);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.1);
}

.cardImg{
    margin-top: 10px;
    border-radius: 20px;
}



/* media queries */
@media screen and (max-width: 560px) {
    .hero-title{
        font-size: 70px;
    }
}
@media screen and (max-width: 850px){
    .swiper{
        width: 230px;
        height: 170px;
    }
}

/* Pagina chi-siamo */

.circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.opener{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--pur);
    background-color: var(--yel);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 10;
    position: absolute;
    transition: 0.3s;
}

.moved{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    background-color: aqua;
    transition: 0.3s;
    background-position: center;
    background-size: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--pur);
    cursor: pointer;
}

.flip-card{
    width: 300px;
    height: 450px;
    transition: 0.3s;
}

.flip-card:hover > .inner{
    transform: rotateY(180deg);
}

.inner{
    border: 2px solid var(--pur);
    border-radius: 30px;
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.3s;
    transform-style: preserve-3d;
}

.inner-face{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 30px;
}

.inner-back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 30px;
    transform: rotateY(180deg);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--yel);
}